<style type="text/css">* {
  font-family: 'Georgia', 'Times', serif;
}
h1 {
  color: Blue;
  text-decoration: none;
}
h2 {
  color: Blue;
  text-decoration: none;
}
body  {
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
}
img {
  border-radius: 100%;
}</style>